
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .paragraph {
        margin-left: 30px;
    }
   
    h3, h4 {
        color: orange;
    }

    .cardforNirvan {
        height: 320px;
        border-bottom-left-radius: 160px;
        border-top-left-radius: 160px;
        padding: 0px;
    }
  
</style>

<div class="container-fluid" style="margin-top:150px">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="text-center" style="color:orange;font-weight:600;">
                <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">ABOUT US</h1>
            </div>


            <h3>"Cooking is love made visible."</h3>
            <p>
                To cook a sumptuous meal, you not only require the best ingredients and recipes, but also a
                great cookware.
                Shlokaa offers you the best-in-class kitchenware with an exciting range of products to make
                your cooking experience enjoyable, thereby creating happy kitchens and happy meal times.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-6 col-lg-6">
            <p>
                To enhance your cooking experience, Shlokaa introduces “Nirvaan” series of finest kitchenware
                that:
            </p>
            <ul>
                <li>Saves fuel</li>
                <li>Preserves nutrients</li>
                <li>Reduces cooking time</li>
                <li>Heats food more evenly</li>
                <li>Is safe to use for all your cooking needs</li>
            </ul>

            <p>
                Enriched with 25 years of hands-on engineering experience with 10+ years in kitchenware
                business, the promoter conceived Shlokaa in 2017 as an independent entity to create happy
                kitchens.
                Shlokaa has embarked on a journey to make even dull household chores in the kitchen a
                pleasurable experience. With unique market strategies, we offer premium kitchen solutions
                through our wide range of products viz. Aluminium Kitchenware, Stainless Steel Kitchenware,
                Thermal Pot, Pressure Cooker, Non-stick Cookware, Anodized Cookware and Kitchen
                Accessories.
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-5">
            <div class="cardforNirvan" style="background-color:orange">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h6> Your Partner in Kitchen</h6>
            <h4>We create happy kitchens with Nirvaan</h4>
            <div class="paragraph">
                We provide you with a variety of kitchenware and accessories that will make your
                cooking a happy experience.
            </div>
            <h4> Your needs are our driving force</h4>
            <div class="paragraph">
                We cater to the ever-changing market needs. Our innovative designs are user-friendly
                and are task-specific.
            </div>
            <h4>Quality and durability are our overriding priorities</h4>
            <div class="paragraph">
                We aim to provide you long lasting, durable and best quality kitchenware.
            </div>
            <div class="row">
                <div class="col-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>


</div>
